.block {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin: 10px;
    margin-top: 0px;
    padding: 20px;
}

.block > p {
    font-size: 24px;
    color: black;
}

.block > h2 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.block > ol {
    font-size: 24px;
    color: black;
    align-self: center;
    list-style-type: decimal;
}

.twopart-block {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin: 10px;
    margin-top: 0px;
    padding: 20px;
}

.twopart-block > img {
    max-width: 50%;
}
